<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <import resource="classpath:applicationContext-Common.xml"/>
    <import resource="classpath:applicationMessageCampaign.xml"/>
    <import resource="classpath:applicationContextBilling.xml"/>
    <import resource="classpath:applicationPlatformServerAPI.xml"/>

    <bean id="dbConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="ghana-mtn"/>
        <constructor-arg ref="couchDbInstance"/>
    </bean>
</beans>